body {
  background-color: rgb(240,240,240);
}

#header {
  background-color: rgb(25,25,25);
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  height: 30px;
}

#left-header {
  display: inline-flex;
  color: white;
}

#left-header img {
  margin-left: 4px;
  margin-right: 4px;
  width: 25px;
  height: 25px;
  align-items: center;
}

#right-header {
  display: inline-flex;
  margin-left: auto;
}

#right-header button {
  color: white;
  width: 40px;
  height: 30px;
  -webkit-app-region: no-drag;
}

#right-header button:hover {
  background-color: rgb(45,45,45);
}

#settings-btn1 {
  color: white;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

#settings-btn1:hover {
  background: gray;
  transition: background 1s;
}

#content {
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

#content button {
  color: rgb(240,240,240);
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(100,100,235);
}

.textfonting-title {
  font-weight: 100;
  font-size: 25px;
}

/* Stuff for the settings modal. */
#settingsmodal {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

#settings {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#settings select {
  width: 200px;
  height: 35px;
  background-color: rgb(235,235,235);
  border-radius: 5px;
}

#settings select:hover {
  width: 200px;
  height: 35px;
  background-color: rgb(240,240,240);
  border-radius: 5px;
}

/* Stuff for Screen Share Picker */
#screenmodal {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

#screenpicker {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#screenpicker select {
  width: 200px;
  height: 35px;
  background-color: rgb(235,235,235);
  border-radius: 5px;
}

#screenpicker select:hover {
  width: 200px;
  height: 35px;
  background-color: rgb(240,240,240);
  border-radius: 5px;
}
