#settings-btn1 {
    color: white;
    position: 0, 0;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 1pc;
}

#settings-btn1:hover {
    background: gray;
    transition: background 1s;
}